<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form th:action="@{/register}" th:object="${registrationForm}" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" required />
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username is required</p>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required />
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email is invaild</p>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required />
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password is required</p>
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>

</body>
</html>