<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>About Tekken 4</title>
    <style>
        body {
            background-color: #000000;
            color: #ffffff;
            font-family: Calibri, sans-serif;
            font-size: 18px;
        }
        pre {
            white-space: pre-wrap;
        }
        em{
            font-style: italic;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1 style="color: firebrick">Tekken Reborn!</h1>
    <p>Tekken 4 Reborn is an extensive overhaul of Tekken 7 to make it look, sound and feel like Tekken 4.<br><br>
    <h2>Main Features:</h2>
        <pre>
            - <em>Tekken 4</em> Preset costumes for Kazuya, Jin, Steve, Xiaoyu, Jack, Heihachi and Marduk.
            - <em>Tekken 4</em> warm up stage
            - <em>Tekken 4</em> music included
            - <em>Tekken 4</em> character portraits for 19 characters
            - Hon-Maru stage and the Inner Shrine BG music for the Mishima Dojo stage
            - Custom splash image
            - Custom startup logo screens
            - Replaced T7 intro with <em>Tekken 4</em> intro
            - Title screen is now Jin doing his Karate practice from <em>Tekken 4</em>
            - <em>Tekken 4</em> style character select
            - <em>Tekken 4</em> style stage select
            - <em>Tekken 4</em> style punishment training
            - <em>Tekken 4</em> announcer and menu sounds
            - <em>Tekken 4</em> Legacy voices for Law, Lee, Steve, Xiaoyu and Hwoarang
            - <em>Tekken 4</em> loading and saving icon
            - <em>Tekken 4</em> style main menu and online menus
            - <em>Tekken 4</em> style default player panels (can still be changed in player customization)
            - Complete in game hud overhaul with antenna indicator, lifebars etc.
            - <em>Tekken 4</em> style versus screen with reworked player stats (A rank S rank etc.)
            </pre>
        </p>
</body>
</html>

